

.margin{width:960px;margin:0 auto;}


header{height:80px;}
header .txt1{float:left;}
header .txt2{display:none;float:left;}
header .left{float:left;margin-top:3px;}
header .right{float:right;width:500px;font-size:14px;}
header .right .top{margin:5px 5px 0 0;float:right}
header .right .bottom{float:left;margin-top:6px;height:16px;width:500px;display:flex;justify-content: space-between}
/* header .right .bottom .bt1{} */
header .right .bottom .bt2{color:#c00;background:url(../img/cart.gif) no-repeat left;background-size:120px 16px;width:106px;display:block;padding-left:20px;margin-left:12px;margin-right:0;}
/* header .right .bottom .bt2 a{font:14px/16px "";} */
header .right .bottom a{color:#333;float: left;}
header .right .bottom a:nth-child(1){color:#f60;}
header .right .bottom a:nth-child(2){color:#f60;}
header .right .bottom a:nth-child(3){padding:0 5px 0 5px;}
header .right .bottom a:nth-child(4){border-left:1px solid #ddd;border-right:1px solid #ddd;padding:0 5px 0 5px;}
header .right .bottom a:nth-child(5){padding:0 5px 0 5px;border-right:1px solid #ddd;margin-right:5px;}

/* header .right .bottom a:nth-child(7){} */



nav{height:35px;background:#333;margin-bottom:20px;}
nav ul{width:720px;height:35px;float: left;}
nav ul li{float:left;width:90px;font:14px/35px "";text-align: center;}
nav ul li a{display:block;color:#fff;}
nav form{float: left;margin-top:4px;margin-left:20px;}
nav form .txt{width:130px;color:#666;float: left;padding:6px 0 6px 0;display: block;border: #c7c3c4 0px solid;}
nav form .sub{float:right;display: block;background: url(../img/search.gif) no-repeat;width:68px;height:27px;border:none;overflow: hidden;margin-left:0;background-size:68px 27px;cursor: pointer;}


footer{margin-top:20px;height:200px;background:#f9f9f9 url(../img/footerbg.png) repeat-x;padding:15px 0 5px 0;font-size: 12px;}
footer .box1{background: url(../img/bot1.gif);width:160px;height:116px;float:left;margin-bottom:12px;}
footer .box1 .top{color:#c00;font-size:20px;padding-top:48px;text-align: center;}
footer .box1 .bottom{padding-top:18px;padding-left:38px;color:#333;}
footer .box1 .bottom a{color:#666;margin-left:8px;text-decoration: underline;}
footer .te{float:left;width:138px;padding-left:21px;}
footer .te h3{color:#333;width:117px;border-bottom:1px solid #ddd;background:url(../img/bot2.gif) no-repeat left;padding-left:20px;font:13px/24px "";}
footer .te:nth-child(2) h3{background-position: 0 0}
footer .te:nth-child(3) h3{background-position: 0 -50px}
footer .te:nth-child(4) h3{background-position: 0 -100px}
footer .te:nth-child(5) h3{background-position: 0 -150px}
footer .te:nth-child(6) h3{background-position: 0 -200px;}
footer .te ul li:nth-child(1){margin-top:2px;}
footer .te ul li{margin-left:15px;}
footer .te li a{color:#666;font:12px/18px "";}
footer .te li:hover a{color:#f30;}
footer .bottom{height:70px;}


#footer{height:121px;text-align: center;}
#footer .top{display: flex;justify-content: center;}
#footer p{font:12px/3 "";color:#666;}
#footer b{font-weight: 700;}
#footer a:last-child{display:block;}