/* main{} */
main .top{margin-top:10px;}
main .lunbo{height:500px;}
main .lunbo .lunbo1{position: relative;margin-top:10px;width:730px;height:395px;float:left;overflow: hidden;}
main .lunbo .lunbo1 .box1{padding:1px;border:1px solid #d5d5d5;width:726px;height:391px;margin:0 auto;}
main .lunbo .lunbo1 .box1 a{position: absolute;width:726px;height:391px;left:726px;}
main .lunbo .lunbo1 .box1 a:nth-child(1){left:0}
main .lunbo .lunbo1  ul{position: absolute;bottom:0;left:0;right:0;margin: 0 auto;height:33px;font:12px/33px "";}
main .lunbo .lunbo1  ul li{text-align: center;width:145px;float:left;background:rgba(0,0,0,.1);height:33px;border-right:1px solid #fff;}
main .lunbo .lunbo1  ul li:nth-child(5){border:none;}
main .lunbo .lunbo1  ul li a{color: #fff;display: block;}
main .lunbo .lunbo2{position: relative;margin-top:10px;width:220px;height:395px;float:right;overflow: hidden}
main .lunbo .lunbo2 .box2{width:220px;height:395px;}
main .lunbo .lunbo2 .box2 a{position: absolute;width:220px;height:395px;left:220px}
main .lunbo .lunbo2 .box2 a:nth-child(1){left:0}
main .lunbo .lunbo2  ul{position: absolute;bottom:0;left:0;right:0;margin: 0 auto;height:33px;font:12px/33px "";}
main .lunbo .lunbo2  ul li{text-align: center;width:72px;float:left;background:rgba(0,0,0,.5);height:33px;border-right:1px solid #fff;}
main .lunbo .lunbo2  ul li:nth-child(3){border:none;width:74px;}
main .lunbo .lunbo2  ul li a{color: #fff;display: block;}

#main{height:1000px;}
#main .list1 li{margin-top:20px;}
#main .list1 .list2{margin-top:10px;height:270px;}
#main .list1 .list2 li{width:180px;float:left;margin-right:10px;}
#main .list1 .list2 li p{text-decoration:line-through }
#main .list1 .list2 li p:last-child{text-decoration:none }